@{
    ViewData["Title"] = "ManufacturesrsReparation";
}


<!-- ======= Services Section ======= -->
<section id="reparation" class="repration">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Services</h2>
            <p>REPARATION & PRISER</p>
        </div>
        <div class="cent-center">
            <div class="row">
                <div class=" col-lg-3 col-md-5 col-sm-4  mt-4 repararion-content" data-aos="zoom-in" data-aos-delay="100">
                    <a asp-area="" asp-controller="Apple" asp-action="Apple">
                        <div class="img-box">
                            <div class="img"> <img src="~/img/clients/Apple.png" alt=""> </div>
                        </div>
                    </a>
                </div>

                <div class=" col-lg-3 col-md-5 col-sm-4  mt-4 repararion-content" data-aos="zoom-in" data-aos-delay="100">
                    <a asp-area="" asp-controller="Samsung" asp-action="Samsung">
                        <div class="img-box">
                            <div class="img"> <img src="~/img/clients/Samsung.png" alt=""> </div>
                        </div>
                    </a>
                </div>

                <div class=" col-lg-3 col-md-5 col-sm-4  mt-4 repararion-content" data-aos="zoom-in" data-aos-delay="100">
                    <a asp-area="" asp-controller="Huawei" asp-action="Huawei">
                        <div class="img-box">
                            <div class="img"> <img src="~/img/clients/Huawei.png" alt=""> </div>
                        </div>
                    </a>
                </div>

                <div class=" col-lg-3 col-md-5 col-sm-4  mt-4 repararion-content" data-aos="zoom-in" data-aos-delay="100">
                    <a asp-area="" asp-controller="Motorola" asp-action="Motorola">
                        <div class="img-box">
                            <div class="img"> <img src="~/img/clients/Motorala.png" alt=""> </div>
                        </div>
                    </a>
                </div>

                <div class=" col-lg-3 col-md-5 col-sm-4  mt-4 repararion-content" data-aos="zoom-in" data-aos-delay="100">
                    <a asp-area="" asp-controller="Nokia" asp-action="Nokia">
                        <div class="img-box">
                            <div class="img"> <img src="~/img/clients/Nokia.png" alt=""> </div>
                        </div>
                    </a>
                </div>

                <div class=" col-lg-3 col-md-5 col-sm-4  mt-4 repararion-content" data-aos="zoom-in" data-aos-delay="100">
                    <a asp-area="" asp-controller="Oneplus" asp-action="Oneplus">
                        <div class="img-box">
                            <div class="img"> <img src="~/img/clients/Oneplus.jpg" alt=""> </div>
                        </div>
                    </a>
                </div>

                <div class=" col-lg-3 col-md-5 col-sm-4  mt-4 repararion-content" data-aos="zoom-in" data-aos-delay="100">
                    <a asp-area="" asp-controller="Sony" asp-action="Sony"></a>
                    <div class="img-box">
                        <div class="img"> <img src="~/img/clients/Sony.png" alt=""> </div>
                    </div>
                    </a>
                </div>
                <div class=" col-lg-3 col-md-5 col-sm-4  mt-4 repararion-content" data-aos="zoom-in" data-aos-delay="100">
                    <a asp-area="" asp-controller="Computer" asp-action="Computer">
                        <div class="img-box">
                            <div class="img"> <img src="~/img/clients/Computer.png" alt=""> </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->